body {
    background-color: rgb(25, 145, 140);
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 20px;
}
