<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>Dogs Site</title>
    </head>
    
    <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% block navbar %}
                {% if current_user.is_authenticated %}
                    <li><a href="/view">View</a></li>
                    <li><a href="/read">Peoples dogs</a></li>
                    <li><a href="/accountSettings/{{ current_user.id }}">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/createAcc">Create Account</a></li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    </body>
</html>
